i
{
    cursor: pointer;
}

.main-container
{
    background-color: #efefef;
    height: 100vh;
    overflow: hidden;
}

.aside-content ul li a.active
{
    border-right: 5px solid var(--main-color);
    background-color: #efefef;
}

main
{
    overflow: auto;
}

section
{
    height: 100vh;
    width: 100%;
    background-color: var;
    overflow: auto;
    background-color: var(--main-color-white); 
}

section::-webkit-scrollbar
{
    display: none;
}

.main-container section#home
{
    overflow: hidden;
}

.setting-icon
{
    top: 10%;
    z-index: var(--z-index-setting-icon);
    right: 0px;
    background-color: var(--main-color-white);
    width: 40px;
    height: 40px;
    border-radius: 5px 0 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

i.fa-cog:hover
{   
    animation: 1s rotate linear infinite;
}

i
{
    display: block;
    font-size: 3rem;
    padding: 10px 0;
    text-align: center;
}

.setting-icon i
{
    color: var(--main-color);
    font-size: 1.5rem;
}

i.fa-bars
{
    font-size: 2rem;
}