i
{
    cursor: pointer;
}

.main-container
{
    background-color: #efefef;
    height: 100vh;
    overflow: hidden;
}

.aside-content ul li a.active
{
    border-right: 5px solid var(--main-color);
    background-color: #efefef;
}

main
{
    overflow: auto;
}

section
{
    height: 100vh;
}