.article-item
{
    box-shadow: 2px 2px 16px #ccc,
    -2px -2px 16px #ccc;
    width: 300px;
}

.article-image .publishedat
{
    right: 15px;
    font-size: bold;
    width: 25px;
    text-align: center;
    bottom: -10px;
    background-color: var(--main-color);
    color: var(--main-color-white);
    padding: 10px;
}

.article-details
{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
}

.article-title
{
    color: var(--main-color-gray);
}

.article-description
{
    font-weight: bold;
    font-size: 1rem;
}