@media screen and (max-width: 500px)
{    
    .nav-content i.fa-bars
    {
        font-size: 1.5rem;
    }
    
    nav .nav-content .owner-nane
    {
        /*display: none;*/
        font-size: 1.2rem;
    }

    section#about-me .services i, 
    section#about-me .clients i, 
    section#about-me .fun-facts i 
    {
        font-size: 2rem;
    }

    .portfolio-content .categories ul
    {
        gap: 5px;
    }
    .portfolio-content .categories ul li
    {
        padding: 5px;
    }

    .portfolio-content .projects .project-item
    {
        width: 90%;
        height: 200px;
    }
}

@media screen and (max-width:767.98px)
{
    .main-container aside
    {
        position:fixed;
        top: 50px;
        left: 0;
        flex: none;
        width: 80%;
        max-width: 300px;
        z-index: var(--z-index-aside);
        background-color: var(--main-color-white);
        animation: slideInFromLeftToRight 2s linear forwards;
    }
    
    .main-container aside.close
    {
        animation: slideOutFromRightToLeft 2s linear forwards;
    }

    nav
    {
        z-index: var(--z-index-nav);
        display: block !important;
        box-shadow: 8px 0 16px var(--main-color-gray);       
    }

    .main-container main
    {       
        overflow: hidden;
    }

    .main-container section
    {
        height: 100vh;
        min-height: 100vh;
        overflow: auto;
    }

    .main-container section#home
    {
        padding-top: inherit;
    }

     section .section-header
    {
        padding: 70px 0 10px 0;
    }

     section .section-header h2
     {
        white-space: nowrap;
        padding: 10px 10px 10px 40px;
        font-size: 1.2rem;
    }

    .about-me-content .about-me-description
    {
        align-items: inherit;
        flex-direction: column;
    }

    .about-me-content .testimonials p
    {
        left: 25px;
        padding: 20px 10px 20px 30px; 
        box-sizing: border-box;
        width: 90%;
    }

    .about-me-content .testimonials .profile-image img
    {    
        width: 50px;
        height: 50px;
    }

    .testimonials .writer-description
    {
        width: 85% !important;
    }

    .fun-facts-container
    {
        padding-bottom: 40px;
    }

    .education-container,
    .experience-container,
    .design-skills-container
    {
        width: 100% !important;        
    }
    
}

@media screen and (max-width:870.98px)
{
    .about-me-content .testimonials
    {
        width: 100%;
    }

    .about-me-content .testimonials p
    {
        width: 90%;
    }
    
    .services .offered-services,
    .fun-facts-container .fun-facts
    {
        justify-content: center;
    }
    
    .services .offered-services .service,
    .fun-facts .fun-fact-item
    {
        width: 100%;
    }

    .clients-container .clients i
    {
        width: 40%;
    }

    .portfolio-content .project-item
    {
        width: 210px;
        height: 150px;
    }
}

@media screen and (max-width:1000px)
{
    .resume-content .resume
    {
        flex-direction: column;
    }   
    
    .education-container,
    .experience-container,
    .design-skills-container
    {
        width: 80% !important;
        margin: 0 auto;        
    }
} 

@media screen and (min-width:768px) 
{
    .main-container aside
    {
        display: flex;
        min-width: 250px;
        max-width: 500px;
    }
}