.portfolio-content ul li
{
    padding: 10px;
    color: var(--main-color-gray);
    border-radius: 2px;
}

.portfolio-content ul li:hover
{
    color: var(--main-color-white);
    background-color: var(--main-color);
}

.portfolio-content ul li.active
{
    color: var(--main-color-white);
    background-color: var(--main-color);
}

.project-item
{
    box-shadow: 2px 2px 2px #ccc,
    -2px -2px 2px #ccc;
    width: 250px;
    height: 160px;
} 

.project-item:hover
{
    transform: scale(1.1);
}